<!DOCTYPE html>
<html>
  <head>
    <title>Real-Time Group Chat Nodejs</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="vendor/bootstrap_5.3.8/css/bootstrap.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="vendor/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="vendor/bootstrap_5.3.8/js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gun/sea.js"></script>
    <script src="js/authentication_section.js"></script>
    <script src="js/chat_section.js"></script>
    <script src="js/theme_utilities.js"></script>
  </head>
  <body>
    <!-- Top Bar -->
    <div id="top-bar" style="display:none; align-items:center; justify-content:space-between; padding:8px 0;">
        <span id="theme-toggle" style="cursor:pointer; font-size:1.3em; margin-right:16px;">🌙</span>
        <span id="alias-display" style="cursor:pointer; font-weight:bold; flex:1; text-align:center;">anon</span>
    </div>

    <!-- Authentication UI -->
    <div id="auth-container">
        <input id="username" type="text" placeholder="Username">
        <input id="password" type="password" placeholder="Password">
        <div style="margin: 8px 0;">
            <input type="checkbox" id="anonymousCheckbox" onchange="toggleAnonymous()">
            <label for="anonymousCheckbox">Join as anonymous</label>
        </div>
        <input id="groupKeyInput" type="hidden" placeholder="Group Key" style="margin-top:8px;" value="mesh-demo-key">
        <div style="display:flex; width:100%; justify-content:center;">
            <button onclick="login()">Login</button>
            <button onclick="register()">Register</button>
        </div>
        <div id="authStatus"></div>
    </div>
    <!-- Chat UI -->
    <div id="chat-container" style="display:none;">
        <div id="notifications"></div>
        <div id="messages"></div>
    </div>
    <div id="input-area" style="display:none;">
        <textarea id="msgInput" placeholder="Type your message..." class="input" autocomplete="off" autofocus="on" rows="1" style="resize: none; width: 70%;"></textarea>
        <div class="emotion">
            <span class="emotion-Icon">
                <i class="fa fa-smile-o fa-lg fa-fw" aria-hidden="true"></i>
                <div class="emotion-area"></div>
            </span>
            <span class="people">
                <i class="fa fa-user-o fa-lg fa-fw" aria-hidden="true"></i>
                <div class="people-online"></div>
            </span>
        </div>
        <button onclick="sendMsg()">Send</button>
    </div>
    <!--<form action="/" method="POST" id="chatForm" style="display:none;">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <div class="emotion">
                        <div id="txt" class="input" autocomplete="off" autofocus="on" oninput="isTyping()"  contenteditable="true" placeholder="Enter your message here..."></div>
                            <span class="emotion-Icon">
                            <i class="fa fa-smile-o fa-lg fa-fw" aria-hidden="true"></i>
                            <div class="emotion-area"></div>
                            </span>
                            <span class="people">
                                <i class="fa fa-user-o fa-lg fa-fw" aria-hidden="true"></i>
                                <div class="people-online"></div>
                            </span>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <button style="width: 100%;">Send</button>
                </div>
            </div>
        </div>
        <input id="txt" autocomplete="off" contenteditable="true" autofocus="on" oninput="isTyping()" placeholder="type your message here...">

    </form>-->
    <script>
            // Connect to the Socket.io server
            let socket = io.connect('http://localhost:8080');

            /****************** Handling the events emitted by the index.js server ******************/
            // Add the "user is typing" notification
            socket.on('typing', function(data){
                if(username != data.username){
                    $('#notifications').html('<li id="typing"><i>' + data.notification + '</i>');
                    // Auto Scroll to the bottom of the page if the content goes out of the viewport
                    $('html, body').animate({scrollTop:$(document).height()}, 'slow');
                }
            });
            // Remove the "username is typing" message
            socket.on('doneTyping', function(){
                $('#notifications').html("");
            });
            // append the message to the message board
            socket.on('chat_message', function(msg){
                //$('#messages').append($('<li>').html(msg));
                // Auto Scroll to the bottom of the page if the content goes out of the viewport
                $('html, body').animate({scrollTop:$(document).height()}, 'slow');
            });
            // append text if someone is online
            socket.on('is_online', function(username) {
                let userOnline = username.split("=>");
                $('#messages').append($('<li>').html(userOnline[0]));
                $('.people-online').html('There are <strong> ' +  userOnline[1] + ' </strong>people online');
            });
    </script>
  </body>
</html>